.title {
    color: blue;
    font-size: 80px;
    text-align: center;
}

body {
    padding-top: 60px;
  }

h1 {
    text-align: center;
    margin-top: 70px;
    padding-top: 70px;
}

.section-big {
    min-height: 100vh;
}

#about {
    background: hsl(210, 50%, 70%);
}

#portfolio {
    background: hsl(20, 50%, 70%);
}

#contact {
    background: hsl(90, 50%, 70%);
}

